


body {
    text-align: center; font-size: 1.65pc;
    color: darkgray
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}




h1{
    color: rgb(73, 4, 233);
    text-align: center;

    footer{
        font-style: italic ;
        color: rgb(19, 17, 1);
    
    }

    